.category-detailspage{
    

}
.category-detailspage-img img{
    object-fit:cover;
    width: 100%;
    height: 400px;
  }
  
.category-detailspage-img{
    filter: brightness(50%); 
}
.category-detailspagec{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.category-details-content h1{
    width: 100%;
    font-weight: 700;
    font-size: 100px;
}

.category-details-para{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
.category-details-para h1{
    width: 100%;

}
.category-details-para p{
    width: 70%;
    font-size: 25px;
    color: black;
}
.category-details p{
    font-weight:500;
    font-size: 25px;
}
.category-details-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.category-details-wrap img{
    object-fit: contain;
    width: 400px;
    height: 400px;
    margin-left:15px;
    margin-top: 15px;
}
.category-details-wrap #co{
    object-fit: cover;
    width: 400px;
    height: 400px;
    margin-left:15px;
    margin-top: 15px;
}
.process{
    margin-top: 50px;
}
.process h4{
    font-weight: 800;
}

.ed-fr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ed-img{
    width: 40%;
}
.ed-para{
    width: 40%;
    font-size: 24px;
    color: black;
}
.ed-img img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.hospital-img{

    width: 300px;
    height: 300px;
    object-fit: cover;
    mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1.5) 50%, transparent 100%);

}

@media screen and (max-width:991px) {
    .category-details-content h1{
        width: 400px;
        font-size: 60px;    
    } 
}

@media screen and (max-width:768px) {

    .category-details-wrap img{
        object-fit: contain;
        width: 300px;
        height: 300px;

    }
    .category-details-wrap #co{
        object-fit: cover;
        width: 300px;
        height: 300px;
        margin-left:15px;
        margin-top: 15px;
    }

    .category-detailspagec{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    
    }
    .category-details-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category-details-content h1{
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 60px;
    
    }
    .category-details-content p{
        font-weight:500;
        font-size: 20px;
    }
    .category-details-para p {
        width: 90%;
        font-size: 15px;
    }
    .ed-fr{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ed-img{
        width: 90%;
    }
    .ed-para{
        width: 90%;
        font-size: 24px;
        color: black;
    }
    .ed-img img{
        width: 300px;
        height:300px;
        object-fit: contain;
    }
}