.client-heading{
  position:absolute;
  top:10%;
  left: 5%;
  width: 500px;
  z-index: 100;
}
.client-heading h2{
  font-weight: 800;
}
.about-img {
  position: relative;
  overflow-x: hidden;
  width: 100%;


  
  
  /* flex-wrap: wrap; */
}
.color-overlay {
  height: 300px;

}




.scrolling-text {
  position: absolute;
  top: 30%;
  left: 0;
  white-space: nowrap;
  font-size: 100px;
  animation: scrollText 20s linear infinite;
  display: flex;
  justify-content:space-between;
  width:200%;
  overflow: hidden !important;
  gap: 0;
}
.scrolling-text:hover{
  animation-play-state:paused ;
}
.scrolling-img{
  perspective:100px;
}


.scrolling-img img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition:transform 0.1s;
}
.scrolling-img img:hover {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transform:translatez(20px);
}





@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
  
  
}

@media screen and (max-width:768px){
  .scrolling-text{
    width: 520%;
  }
}
