.sidebar-dropdown-menu {
    position: absolute;
    margin-inline-start:4%;
    margin-block-start: 100px;
    background-color:#409bd4;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
    padding-inline-end: 1.5rem;
    z-index: 10;
    width: 240px;
    height: 600px;
    overflow-y: auto;
  }
  .sidebar-dropdown-menu::-webkit-scrollbar {
    width: 10px;
    background-color: #16487c;
  }
  
  .sidebar-dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #7FDBFF;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
  }
  .products-dropdown-menu li {
    list-style-type: none;
    padding-block: 1rem;
    
  }
  .sidebar-dropdown-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .sidebar-dropdown-menu ul li {
    list-style-type: none;
    text-decoration: none;
    transform: scale(1);
    line-height: 40px;
    transition: transform 0.2s linear;
    border-bottom: 1px solid white;
    
  }
  
  .sidebar-dropdown-menu.visible {
    display: block;
  }
  
  .sidebar-dropdown-menu ul li:hover {
    transform: scale(1.1);
  }
