.sidebar-dropdown-menu {
    position:absolute;
    top: 45%;
    right: 4%;
    /* margin-inline-start:80%;
    margin-block-start: 2%; */
    background-color:#f2f2f2;
    padding-inline-end: 1.5rem;
    z-index: 10;
    width: 330px;
    height:1745px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;

  }
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}
  .products-dropdown-menu li {
    list-style-type: none;
    padding-block: 1rem;
    
  }
  .sidebar-dropdown-menu a {
    text-decoration: none;
    color: #16487c;
    font-weight: bold;
  }
  
  .sidebar-dropdown-menu ul li {
    list-style-type: none;
    text-decoration: none;
    transform: scale(1);
    line-height: 48px;
    transition: transform 0.2s linear;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
  }
  
  .sidebar-dropdown-menu.visible {
    display: block;
  }
  
  .sidebar-dropdown-menu ul li:hover {
    transform: scale(1.1);
  }
  .sub a{
    color: black;

  }

  @media screen and (max-width:991px) {
    .sidebar-dropdown-menu {
       display: none;
    }
    .sidebar-dropdown-menu {
      position:absolute;
      top: 65%;
      right: 4%;

  }
    
  }
  @media screen and (max-height:850px) {
    .sidebar-dropdown-menu {
      position:absolute;
      top: 55%;
      right: 4%;

  }
}

  @media screen and (max-height:700px) {
    .sidebar-dropdown-menu {
      position:absolute;
      top: 65%;
      right: 4%;

  }
}
